@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

:root{
    --white: #fff;
    --off-white: #e5e5e5;
    --transp-white-1: rgba(255,255,255,0.25);
    --transp-white-2: rgba(255,255,255,0.1);
    --blue-1: #62b8f5;
    --blue-2: #4475ef;
    --shadow: rgba(3,46,87,0.2);
}

body{
    height: 100vh;
    background: linear-gradient(135deg, var(--blue-1), var(--blue-2));
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    font-size: 16px;
    width: 90vw;
    max-width: 28em;
    position: relative;
}

.container{
    width: 100%;
    background: var(--transp-white-2);
    backdrop-filter: blur(10px);
    padding: 3em 1.8em;
    border: 2px solid var(--transp-white-2);
    border-radius: .6em;
    box-shadow: 0 1.8em 3.7em var(--shadow);
    text-align: center;
}

.shape{
    position: absolute;
    background-color: var(--transp-white-1);
    backdrop-filter: blur(1.2em);
    border: 2px solid var(--transp-white-2);
    border-radius: 50%;
}

.shape-1{
    width: 13em;
    height: 13em;
    right: -6.5em;
    top: 1.8em;
}

.shape-2{
    width: 11em;
    height: 11em;
    bottom: -3.7em;
    left: -2.5em;
}

.search-container{
    font-size: 1em;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-container input,
.search-container button{
    font-size: 1em;
    border: none;
    outline: none;
}

.search-container input{
    padding: .7em;
    background-color: transparent;
    border-bottom: 2px solid var(--transp-white-1);
    color: var(--white);
    font-weight: 300;
    transition: .2s;
}

.search-container input::placeholder{
    color: var(--off-white);
}

.search-container input:focus{
    border-color: var(--white);
}

.search-container button{
    color: var(--blue-2);
    background-color: var(--white);
    border-radius: .3em;
    cursor: pointer;
}

#result h2{
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: .18em;
    font-weight: 600;
    margin: 1.25em 0;
}

.weather,
.desc{
    color: var(--off-white);
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .9em;
    font-weight: 500;
    line-height: 2em;
}

.weather{
    margin-top: -0.7em;
}

#result img{
    margin: .6em 0 0 0;
    width: 6.2em;
    filter: drop-shadow(0 1.8em 3.7em var(--shadow));
}

#result h1{
    font-size: 4em;
    margin: 0.3em 0 0.7em 0;
    line-height: 0;
    font-weight: 400;
    color: var(--white);
}

.temp-container{
    display: flex;
    justify-content: center;
}

.temp-container div{
    padding: .3em 1em; 
}

.temp-container div:first-child{
    border-right: 1px solid var(--transp-white-1);
}

.temp-container .title{
    font-weight: 600;
    color: var(--white);
}

.temp-container .temp{
    font-weight: 300;
    color: var(--off-white);
}

.msg{
    margin-top: 1.8em;
    color: var(--white);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
}